nodered/data/flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Control Simulation",
        "disabled": false,
        "info": ""
    },
    {
        "id": "61216a9c9c65a5d3",
        "type": "tab",
        "label": "Telegram Comands",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "227d6c6a69368223",
        "type": "telegram bot",
        "botname": "Smart Agriculture - Field Monitoring System",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "testenvironment": false,
        "updatemode": "polling",
        "addressfamily": "",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "24f8f90e89fb0dcc",
        "type": "mqtt-broker",
        "name": "MQTT",
        "broker": "mosquitto-SA-FMS",
        "port": "1883",
        "clientid": "nodered",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "3cc11d24.ff01a2",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "WARNING: please check you have started this container with a volume that is mounted to /data\\n otherwise any flow changes are lost when you redeploy or upgrade the container\\n (e.g. upgrade to a more recent node-red docker image).\\n  If you are using named volumes you can ignore this warning.\\n Double click or see info side panel to learn how to start Node-RED in Docker to save your work",
        "info": "\nTo start docker with a bind mount volume (-v option), for example:\n\n```\ndocker run -it -p 1880:1880 -v /home/user/node_red_data:/data --name mynodered nodered/node-red\n```\n\nwhere `/home/user/node_red_data` is a directory on your host machine where you want to store your flows.\n\nIf you do not do this then you can experiment and redploy flows, but if you restart or upgrade the container the flows will be disconnected and lost. \n\nThey will still exist in a hidden data volume, which can be recovered using standard docker techniques, but that is much more complex than just starting with a named volume as described above.",
        "x": 350,
        "y": 80,
        "wires": []
    },
    {
        "id": "fd97571756e8622f",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "/test",
        "payload": "BOT_TOKEN",
        "payloadType": "env",
        "x": 220,
        "y": 320,
        "wires": [
            [
                "097e2d6989399613"
            ]
        ]
    },
    {
        "id": "097e2d6989399613",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 320,
        "wires": []
    },
    {
        "id": "cb6b0d28c0aa678b",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "/test",
        "payload": "test",
        "payloadType": "str",
        "x": 200,
        "y": 400,
        "wires": [
            [
                "097e2d6989399613",
                "c405962fedb7682e"
            ]
        ]
    },
    {
        "id": "c405962fedb7682e",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "24f8f90e89fb0dcc",
        "x": 750,
        "y": 400,
        "wires": []
    },
    {
        "id": "ca7dd771e06aa4dc",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "topic/ingresso1",
        "payload": "ingresso_1",
        "payloadType": "str",
        "x": 230,
        "y": 460,
        "wires": [
            [
                "c405962fedb7682e",
                "097e2d6989399613"
            ]
        ]
    },
    {
        "id": "47466fb73c3d100d",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "topic/ingresso2",
        "payload": "ingresso_2",
        "payloadType": "str",
        "x": 230,
        "y": 520,
        "wires": [
            [
                "c405962fedb7682e",
                "097e2d6989399613"
            ]
        ]
    },
    {
        "id": "5f5b4c025a4cf87f",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "topic/ingresso3",
        "payload": "ingresso_3",
        "payloadType": "str",
        "x": 230,
        "y": 580,
        "wires": [
            [
                "097e2d6989399613",
                "c405962fedb7682e"
            ]
        ]
    },
    {
        "id": "49461cc568fe9a8e",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "topic/ingresso4",
        "payload": "ingresso_4",
        "payloadType": "str",
        "x": 230,
        "y": 640,
        "wires": [
            [
                "c405962fedb7682e",
                "097e2d6989399613"
            ]
        ]
    },
    {
        "id": "4a79e693549f314c",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "sensors/simulation/config",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "sensors/simulation/config",
        "payload": "{\"initialWeather\":\"SUNNY\",\"fields\":[{\"fieldId\":1,\"sensors\":{\"soilMoisture\":true,\"temperature\":true,\"ph\":true,\"salinity\":false,\"humidity\":true,\"rain\":true},\"interval\":5000},{\"fieldId\":2,\"sensors\":{\"soilMoisture\":false,\"temperature\":true,\"ph\":false,\"salinity\":true,\"humidity\":true,\"rain\":false},\"interval\":10000}]}",
        "payloadType": "json",
        "x": 230,
        "y": 700,
        "wires": [
            [
                "c405962fedb7682e",
                "097e2d6989399613"
            ]
        ]
    },
    {
        "id": "786abb0ad3be3afb",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "test/simulation/config",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "24f8f90e89fb0dcc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 260,
        "wires": [
            [
                "097e2d6989399613"
            ]
        ]
    },
    {
        "id": "6ffb6578101f98d9",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "sensors/simulation/start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "sensors/simulation/start",
        "payload": "avvio",
        "payloadType": "str",
        "x": 220,
        "y": 760,
        "wires": [
            [
                "c405962fedb7682e",
                "097e2d6989399613"
            ]
        ]
    },
    {
        "id": "7e16ef8e85ef6056",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "sensors/simulation/stop",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "sensors/simulation/stop",
        "payload": "stop",
        "payloadType": "str",
        "x": 220,
        "y": 820,
        "wires": [
            [
                "c405962fedb7682e",
                "097e2d6989399613"
            ]
        ]
    },
    {
        "id": "b29e8ce01a2c58f3",
        "type": "telegram command",
        "z": "61216a9c9c65a5d3",
        "name": "",
        "command": "/start",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "227d6c6a69368223",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 270,
        "y": 200,
        "wires": [
            [
                "d770f3e2141f9f71"
            ],
            []
        ]
    },
    {
        "id": "d770f3e2141f9f71",
        "type": "function",
        "z": "61216a9c9c65a5d3",
        "name": "/help",
        "func": "var helpMessage = \"/help - shows Help\";\n\n//helpMessage += \"\\r\\n/status - shows Simulation Status\";\n\nhelpMessage += \"\\r\\n/setsimulation - Set all simumaltion parameters\";\n\n//helpMessage += \"\\r\\n/foo - opens a dialog\";\n\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"\\r\\nYou are welcome: \"+msg.originalMessage.from.username;\nhelpMessage += \"\\r\\nYour chat id is \" + msg.payload.chatId;\nhelpMessage += \"\\r\\n\";\n\nmsg.payload.content = helpMessage;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 200,
        "wires": [
            [
                "59efee03b6e650d1"
            ]
        ]
    },
    {
        "id": "59efee03b6e650d1",
        "type": "telegram sender",
        "z": "61216a9c9c65a5d3",
        "name": "",
        "bot": "227d6c6a69368223",
        "haserroroutput": false,
        "outputs": 1,
        "x": 690,
        "y": 200,
        "wires": [
            [
                "081ffc238def54c5"
            ]
        ]
    },
    {
        "id": "e72661055a728f9f",
        "type": "telegram command",
        "z": "61216a9c9c65a5d3",
        "name": "",
        "command": "/help",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "227d6c6a69368223",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 270,
        "y": 140,
        "wires": [
            [
                "d770f3e2141f9f71"
            ],
            []
        ]
    },
    {
        "id": "081ffc238def54c5",
        "type": "debug",
        "z": "61216a9c9c65a5d3",
        "name": "Sender",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 200,
        "wires": []
    },
    {
        "id": "f2f8f2e5cf12c790",
        "type": "catch",
        "z": "61216a9c9c65a5d3",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 480,
        "y": 140,
        "wires": [
            [
                "b50759f4c110a9b2"
            ]
        ]
    },
    {
        "id": "b50759f4c110a9b2",
        "type": "debug",
        "z": "61216a9c9c65a5d3",
        "name": "catch",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 140,
        "wires": []
    },
    {
        "id": "de59d824d9d40352",
        "type": "telegram command",
        "z": "61216a9c9c65a5d3",
        "name": "",
        "command": "/setsimulation",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "227d6c6a69368223",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 290,
        "y": 260,
        "wires": [
            [
                "340f218d6d5ef02e"
            ],
            []
        ]
    },
    {
        "id": "340f218d6d5ef02e",
        "type": "function",
        "z": "61216a9c9c65a5d3",
        "name": "keyboard SetSimulation Step 0 ",
        "func": "var opts = {\n  reply_to_message_id: msg.payload.messageId,\n  reply_markup: JSON.stringify({\n    \"inline_keyboard\": [[\n                {\n                    \"text\": \"Yes\",\n                    \"callback_data\": \"S0 YES\"\n                },\n                {\n                    \"text\": \"No\",\n                    \"callback_data\": \"S0 NO\"\n                }]\n            ]\n  })\n};\nmsg.payload.content = 'Are you sure you want to set a different agricultural field simulation?';\nmsg.payload.options = opts;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 260,
        "wires": [
            [
                "7fbb0eb9fad2f844"
            ]
        ]
    },
    {
        "id": "7fbb0eb9fad2f844",
        "type": "telegram sender",
        "z": "61216a9c9c65a5d3",
        "name": "sendTextMessage",
        "bot": "227d6c6a69368223",
        "haserroroutput": false,
        "outputs": 1,
        "x": 770,
        "y": 260,
        "wires": [
            [
                "4768c04e0d807dc6"
            ]
        ]
    },
    {
        "id": "4768c04e0d807dc6",
        "type": "function",
        "z": "61216a9c9c65a5d3",
        "name": "Salva IdMessaggio nel ChatContex",
        "func": "var chatId = msg.payload.chatId;\nif (!chatId || typeof chatId !== \"number\") {\n    node.error(\"chatId non valido: \" + chatId);\n    return null;\n}\n\nvar chatContextKey = \"chat_\" + chatId;\nvar chatContext = flow.get(chatContextKey) || {};\n\nchatContext.messageId = msg.payload.sentMessageId;\n\nflow.set(chatContextKey, chatContext);\n\n// Debug\nnode.warn(\"Salvato nel Flow: chatContextKey=\" + chatContextKey + \", contenuto=\" + JSON.stringify(chatContext));\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "d39e0c4caf56bc9c",
        "type": "telegram event",
        "z": "61216a9c9c65a5d3",
        "name": "",
        "bot": "227d6c6a69368223",
        "event": "callback_query",
        "autoanswer": false,
        "x": 300,
        "y": 1100,
        "wires": [
            [
                "6ee01010c318fdfd"
            ]
        ]
    },
    {
        "id": "6ee01010c318fdfd",
        "type": "switch",
        "z": "61216a9c9c65a5d3",
        "name": "SCancel \\n S0 \\n S1 \\n S2 \\n S3 \\n S4 \\n S5 \\n otherwise",
        "property": "payload.content",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "SCancel",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "S0",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "S1",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "S2",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "S3",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "S4",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "S5",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 8,
        "x": 500,
        "y": 1100,
        "wires": [
            [
                "5b0d83546b55c37e"
            ],
            [
                "daef9f90b8d2b8ac"
            ],
            [
                "2cc904ac5a6a7b9e"
            ],
            [
                "e4f5e4db0f2533bb"
            ],
            [
                "6568989d07b445fe"
            ],
            [
                "8a6b19502510e21c"
            ],
            [
                "75d4ea7f803fca3f"
            ],
            []
        ]
    },
    {
        "id": "daef9f90b8d2b8ac",
        "type": "function",
        "z": "61216a9c9c65a5d3",
        "name": "Keyboard SetSimulation Step 1",
        "func": "var chatId = msg.payload.chatId;\nvar chatContextKey = \"chat_\" + chatId;\n\nvar chatContext = flow.get(chatContextKey);\n\nif (!chatContext || !chatContext.messageId) {\n    node.error(\"Message ID non trovato nel Flow Context per chatId: \" + chatId);\n    return null;\n}\n// ID del messaggio con la tastiera inline\n\n// Recupera la scelta dell'utente\nvar userChoice = msg.payload.content; // Es. \"FOO YES\" o \"FOO NO\"\n\n// Prepara il nuovo contenuto del messaggio basato sulla scelta\nvar newText;\nif (userChoice === \"S0 YES\") {\n    newText = \"Great, let's get started!!! \\r\\nHow many agricultural fields do you want to simulate this time?\";\n} else if (userChoice === \"S0 NO\") {\n    newText = \"OK, you can reuse the /setsimulation command when you are ready to change the simulation settings!\";\n} else {\n    newText = \"Invalid choice!\";\n}\n\n// Prepara il messaggio per modificare il testo e rimuovere la tastiera inline\nvar reply_markup_empty = JSON.stringify({\n    \"inline_keyboard\": [] // Rimuove la tastiera inline\n});\nvar reply_markup = JSON.stringify({\n    \"inline_keyboard\": [[\n        {\n            \"text\": \"1️⃣\",\n            \"callback_data\": \"S1 1\"\n            },\n            {\n            \"text\": \"2️⃣\",\n            \"callback_data\": \"S1 2\"\n            },\n            {\n            \"text\": \"3️⃣\",\n            \"callback_data\": \"S1 3\"\n            }\n        ],\n        [\n            {\n            \"text\": \"4️⃣\",\n            \"callback_data\": \"S1 4\"\n            },\n            {\n            \"text\": \"5️⃣\",\n            \"callback_data\": \"S1 5\"\n            },\n            {\n            \"text\": \"6️⃣\",\n            \"callback_data\": \"S1 6\"\n            }\n            ],\n            [{\n                \"text\": \"❌   ABORT   ❌\",\n                \"callback_data\": \"SCancel\"\n            }\n    ]] // Modifica la tastiera\n});\n\nif (userChoice === \"S0 YES\") {\n    var options = {\n        chat_id: msg.payload.chatId,\n        reply_markup: reply_markup,\n        message_id: chatContext.messageId\n    };\n    msg.payload.type = 'editMessageText';\n    msg.payload.content = newText;\n    msg.payload.options = options;\n} else {\n    var options = {\n        chat_id: msg.payload.chatId,\n        reply_markup: reply_markup_empty,\n        message_id: chatContext.messageId\n    };\n    msg.payload.type = 'editMessageText';\n    msg.payload.content = newText;\n    msg.payload.options = options;\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 1040,
        "wires": [
            [
                "12b9814935b54f98"
            ]
        ]
    },
    {
        "id": "12b9814935b54f98",
        "type": "telegram sender",
        "z": "61216a9c9c65a5d3",
        "name": "sendTextMessage",
        "bot": "227d6c6a69368223",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1430,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "5b0d83546b55c37e",
        "type": "function",
        "z": "61216a9c9c65a5d3",
        "name": "Abort SetSimulation",
        "func": "var chatId = msg.payload.chatId;\nvar chatContextKey = \"chat_\" + chatId;\n\nvar chatContext = flow.get(chatContextKey);\n\nif (!chatContext || !chatContext.messageId) {\n    node.error(\"Message ID non trovato nel Flow Context per chatId: \" + chatId);\n    return null;\n}\n\nvar newText = \"OK, you can reuse the /setsimulation command when you are ready to change the simulation settings!\";\n\nvar reply_markup_empty = JSON.stringify({\n    \"inline_keyboard\": [] // Rimuove la tastiera inline se presente\n});\n\nvar options = {\n        chat_id: msg.payload.chatId,\n        reply_markup: reply_markup_empty,\n        message_id: chatContext.messageId\n    };\n\nmsg.payload.type = 'editMessageText';\nmsg.payload.content = newText;\nmsg.payload.options = options;\n\nflow.set(chatContextKey, null);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 1000,
        "wires": [
            [
                "12b9814935b54f98"
            ]
        ]
    },
    {
        "id": "2cc904ac5a6a7b9e",
        "type": "function",
        "z": "61216a9c9c65a5d3",
        "name": "Salva il numero di campi e presenta Keyboard Step 2 Sensori",
        "func": "var chatId = msg.payload.chatId;\nvar chatContextKey = \"chat_\" + chatId;\n\nvar chatContext = flow.get(chatContextKey);\n\nif (!chatContext || !chatContext.messageId) {\n    node.error(\"Message ID non trovato nel Flow Context per chatId: \" + chatId);\n    return null;\n}\n\nvar settingSimulationContext = chatContext.settingSimulationContext || {};\nsettingSimulationContext.newSetting = {\n    total_field: parseInt(msg.payload.content.split(\" \")[1]),\n    courrent_field: 1,\n    next_field: parseInt(msg.payload.content.split(\" \")[1]) > 1 ? 2 : 1\n};\n\n\nchatContext.settingSimulationContext = settingSimulationContext;\n\n// Debug\nnode.warn(\"Salvato nel Flow: settingSimulationContext=\" + JSON.stringify(settingSimulationContext));\n\n\nvar newText = \"OK, we have \"+ msg.payload.content.split(\" \")[1] +\" farmlands! Great! \\r\\nNow we have to decide which sensors will be on the fields. \\r\\nLet's start with field number 1. \\r\\nSelect the sensors that are present on field number 1:\";\n\nvar reply_markup = JSON.stringify({\n    \"inline_keyboard\": [[\n                {\n                    \"text\": \"📡 ALL SENSORS @ FIELD 1 📡\",\n                    \"callback_data\": \"S2 ALL 1\"\n                }],\n                [\n                {\n                    \"text\": \"🔲 Soil Moisture\",\n                    \"callback_data\": \"S2 11 1\"\n                },\n                {\n                    \"text\": \"🔲 Temperature\",\n                    \"callback_data\": \"S2 21 1\"\n                }],\n                [\n                {\n                    \"text\": \"🔲 Soil Ph\",\n                    \"callback_data\": \"S2 31 1\"\n                },\n                {\n                    \"text\": \"🔲 Water Salinity\",\n                    \"callback_data\": \"S2 41 1\"\n                }],\n                [\n                {\n                    \"text\": \"🔲 Relative Humidity\",\n                    \"callback_data\": \"S2 51 1\"\n                },\n                {\n                    \"text\": \"🔲 Rainfall\",\n                    \"callback_data\": \"S2 61 1\"\n                }],\n                [\n                {\n                    \"text\": \"❌   ABORT   ❌\",\n                    \"callback_data\": \"SCancel\"\n                }]\n            ]\n});\n\nvar options = {\n        chat_id: msg.payload.chatId,\n        reply_markup: reply_markup,\n        message_id: chatContext.messageId\n    };\n\nmsg.payload.type = 'editMessageText';\nmsg.payload.content = newText;\nmsg.payload.options = options;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 1080,
        "wires": [
            [
                "12b9814935b54f98"
            ]
        ]
    },
    {
        "id": "b8240e32df7e740c",
        "type": "comment",
        "z": "61216a9c9c65a5d3",
        "name": "SET SIMULATION \\n \\n SCancel \\n The SCancel step is used to cancel the process of creating a new setting.\\n \\n S0\\n The S0 step is used to ask the user if they wish to start a new setting.\\n \\n S1\\n Step S1 is for specifying the number of farm fields, between 1 and 6.\\n \\n S2\\n Step S2 allows the user to indicate which sensors are present in each agricultural field.\\n  This step is iterated until the S2 OK or S2 ALL command is received.\\n \\n S2 OK and S2 ALL\\n Steps S2 OK and S2 ALL are used to confirm the selection of sensors for the current agricultural field.\\n \\n S3\\n Step S3 is used to define the starting climatic conditions that will be applied to all agricultural fields in the simulation.\\n \\n S4\\n Step S4 presents a summary of the configuration and requires confirmation to proceed.\\n \\n S5\\n Step S5 concludes the process of creating a new setting by sending it to the simulation server.",
        "info": "# Italiano\n---\n\n# SCancel\nLo step **SCancel** serve per annullare il processo di creazione di un nuovo settaggio.\n\n# S0\nLo step **S0** serve per chiedere all'utente se desidera iniziare un nuovo settaggio.\n\n# S1\nLo step **S1** consente di specificare il numero di campi agricoli, compreso tra 1 e 6.\n\n# S2\nLo step **S2** permette di indicare quali sensori sono presenti in ciascun campo agricolo.\n\nQuesto step viene iterato fino a ricevere il comando **S2 OK** o **S2 ALL**.\n\n# S2 OK e S2 ALL\nGli step **S2 OK** e **S2 ALL** servono per confermare la selezione dei sensori per il campo agricolo corrente.\n\n# S3\nLo step **S3** consente di definire le condizioni climatiche di partenza che saranno applicate a tutti i campi agricoli nella simulazione.\n\n# S4\nLo step **S4** presenta un riepilogo della configurazione e richiede conferma per procedere.\n\n# S5\nLo step **S5** conclude il processo di creazione di un nuovo settaggio, inviandolo al server di simulazione.\n\n<br><br><br>\n\n# English\n---\n# SCancel\nThe **SCancel** step is used to cancel the process of creating a new setting.\n\n# S0\nThe **S0** step is used to ask the user if they wish to start a new setting.\n\n# S1\nStep **S1** is for specifying the number of farm fields, between 1 and 6.\n\n# S2\nStep **S2** allows the user to indicate which sensors are present in each agricultural field.\n\nThis step is iterated until the **S2 OK** or **S2 ALL** command is received.\n\n# S2 OK and S2 ALL\nSteps **S2 OK** and **S2 ALL** are used to confirm the selection of sensors for the current agricultural field.\n\n# S3\nStep **S3** is used to define the starting climatic conditions that will be applied to all agricultural fields in the simulation.\n\n# S4\nStep **S4** presents a summary of the configuration and requires confirmation to proceed.\n\n# S5\nStep **S5** concludes the process of creating a new setting by sending it to the simulation server.",
        "x": 610,
        "y": 640,
        "wires": []
    },
    {
        "id": "860fa5392a0204fd",
        "type": "function",
        "z": "61216a9c9c65a5d3",
        "name": "Salva, check next_field, question weather",
        "func": "var chatId = msg.payload.chatId;\nvar chatContextKey = \"chat_\" + chatId;\n\nvar chatContext = flow.get(chatContextKey);\n\nif (!chatContext || !chatContext.messageId) {\n    node.error(\"Message ID non trovato nel Flow Context per chatId: \" + chatId);\n    return null;\n}\n\nif (!chatContext.settingSimulationContext || !chatContext.settingSimulationContext.newSetting || !Number.isInteger(chatContext.settingSimulationContext.newSetting.total_field) || !Number.isInteger(chatContext.settingSimulationContext.newSetting.courrent_field) || !Number.isInteger(chatContext.settingSimulationContext.newSetting.next_field)){\n    node.error(\"settingSimulationContext non trovato nel Flow Context per chatId: \" + chatId);\n    node.error(\"!chatContext.settingSimulationContext: \" + !chatContext.settingSimulationContext);\n    node.error(\"!chatContext.settingSimulationContext.newSetting: \" + !chatContext.settingSimulationContext.newSetting);\n    node.error(\"!Number.isInteger(chatContext.settingSimulationContext.newSetting.total_field): \" + !Number.isInteger(chatContext.settingSimulationContext.newSetting.total_field));\n    node.error(\"!Number.isInteger(chatContext.settingSimulationContext.newSetting.courrent_field): \" + !Number.isInteger(chatContext.settingSimulationContext.newSetting.courrent_field));\n    node.error(\"!Number.isInteger(chatContext.settingSimulationContext.newSetting.next_field): \" + !Number.isInteger(chatContext.settingSimulationContext.newSetting.next_field));\n    return null;\n}\n\nif (!chatContext.settingSimulationContext.newSetting.fields_configuration && chatContext.settingSimulationContext.newSetting.total_field > 1 && chatContext.settingSimulationContext.newSetting.courrent_field > 1) {\n    node.error(\"fields_configuration non trovato nel Flow Context per chatId: \" + chatId);\n    return null;\n}\n\nvar newSetting = chatContext.settingSimulationContext.newSetting;\n\n// Inizializza fields_configuration come un dizionario (oggetto) se non esiste\nvar fields_configuration = newSetting.fields_configuration || {};\n\n// S2 ALL #F  \nvar messageCode = msg.payload.content.split(\" \");\nvar command = messageCode[1];\nswitch(command){\n    case \"ALL\":\n        fields_configuration[newSetting.courrent_field] = {\n            soilMoisture: true,\n            temperature: true,\n            soilPh: true,\n            waterSalinity: true,\n            relativeHumidity: true,\n            rainfall: true\n        };\n        newSetting.fields_configuration = fields_configuration;\n        break;\n    case \"OK\":\n        break;\n}\n\nif (chatContext.settingSimulationContext.newSetting.total_field > chatContext.settingSimulationContext.newSetting.courrent_field) {\n      chatContext.settingSimulationContext.newSetting.courrent_field = chatContext.settingSimulationContext.newSetting.courrent_field + 1;  \n    \n    // Presentare nuova keyboard per il prossimo campo\n\n    var newText = \"OK, we have \" + chatContext.settingSimulationContext.newSetting.total_field + \" farmlands! Great! \\r\\nNow we have to decide which sensors will be on the fields. \\r\\nSelect the sensors that are present on field number \" + chatContext.settingSimulationContext.newSetting.courrent_field +\" :\";\n\n    // Base dell'inline_keyboard\n    var inline_keyboard = [\n        [\n            {\n                \"text\": \"📡 ALL SENSORS @ FIELD \" + newSetting.courrent_field + \" 📡\",\n                \"callback_data\": \"S2 ALL \" + chatContext.settingSimulationContext.newSetting.courrent_field\n            }\n        ],\n        [\n            {\n                \"text\": \"🔲 Soil Moisture\",\n                \"callback_data\": \"S2 11 \" + chatContext.settingSimulationContext.newSetting.courrent_field\n            },\n            {\n                \"text\": \"🔲 Temperature\",\n                \"callback_data\": \"S2 21 \" + chatContext.settingSimulationContext.newSetting.courrent_field\n            }\n        ],\n        [\n            {\n                \"text\": \"🔲 Soil Ph\",\n                \"callback_data\": \"S2 31 \" + chatContext.settingSimulationContext.newSetting.courrent_field\n            },\n            {\n                \"text\": \"🔲 Water Salinity\",\n                \"callback_data\": \"S2 41 \" + chatContext.settingSimulationContext.newSetting.courrent_field\n            }\n        ],\n        [\n            {\n                \"text\": \"🔲 Relative Humidity\",\n                \"callback_data\": \"S2 51 \" + chatContext.settingSimulationContext.newSetting.courrent_field\n            },\n            {\n                \"text\": \"🔲 Rainfall\",\n                \"callback_data\": \"S2 61 \" + chatContext.settingSimulationContext.newSetting.courrent_field\n            }\n        ],\n        [\n            {\n                \"text\": \"❌   ABORT   ❌\",\n                \"callback_data\": \"SCancel\"\n            }\n        ]\n    ];\n\n    // Converti in JSON\n    var reply_markup = JSON.stringify({ \"inline_keyboard\": inline_keyboard });\n\n    var options = {\n            chat_id: msg.payload.chatId,\n            reply_markup: reply_markup,\n            message_id: chatContext.messageId\n        };\n\n    msg.payload.type = 'editMessageText';\n    msg.payload.content = newText;\n    msg.payload.options = options;\n\n    return msg;\n}\n\nvar newText = \"Great! \\r\\nWe have finished the configuration related to the sensors on the agricultural fields! \\r\\nNow you need to decide what weather condition is present on your farmland. \\r\\n\\r\\nSelect one of the following conditions: \";\n\nvar reply_markup_empty = JSON.stringify({\n    \"inline_keyboard\": [[\n        {\n            \"text\": \"☀️ Sunny ☀️\",\n            \"callback_data\": \"S3 SUNNY\"\n        }],\n    [\n        {\n            \"text\": \"☁️ Cloudy ☁️\",\n            \"callback_data\": \"S3 CLOUDY \"\n        }\n    ],\n    [\n        {\n            \"text\": \"🌦️ Light Rain 🌦️\",\n            \"callback_data\": \"S3 LIGHT_RAIN \"\n        }\n    ],\n    [\n        {\n            \"text\": \"🌧️ Moderate Rain 🌧️\",\n            \"callback_data\": \"S3 MODERATE_RAIN\"\n        }\n    ],\n    [\n        {\n            \"text\": \"⛈️ Heavy Rain ⛈️\",\n            \"callback_data\": \"S3 HEAVY_RAIN\"\n        }\n    ],\n    [\n        {\n            \"text\": \"🌀 Hurricane 🌀\",\n            \"callback_data\": \"S3 HURRICANE\"\n        }\n    ],\n    [\n        {\n            \"text\": \"❌   ABORT   ❌\",\n            \"callback_data\": \"SCancel\"\n        }]\n    ]\n});\nvar options = {\n        chat_id: msg.payload.chatId,\n        reply_markup: reply_markup_empty,\n        message_id: chatContext.messageId\n    };\nmsg.payload.type = 'editMessageText';\nmsg.payload.content = newText;\nmsg.payload.options = options;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 1140,
        "wires": [
            [
                "12b9814935b54f98"
            ]
        ]
    },
    {
        "id": "e4f5e4db0f2533bb",
        "type": "switch",
        "z": "61216a9c9c65a5d3",
        "name": "S2 OK \\n S2 ALL \\n S2",
        "property": "payload.content",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "S2 OK",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "S2 ALL",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 720,
        "y": 1160,
        "wires": [
            [
                "860fa5392a0204fd"
            ],
            [
                "860fa5392a0204fd"
            ],
            [
                "52262061ec2cf12e"
            ]
        ]
    },
    {
        "id": "52262061ec2cf12e",
        "type": "function",
        "z": "61216a9c9c65a5d3",
        "name": "Salva, cambia stato alla keyboard",
        "func": "var chatId = msg.payload.chatId;\nvar chatContextKey = \"chat_\" + chatId;\n\nvar chatContext = flow.get(chatContextKey);\n\nif (!chatContext || !chatContext.messageId) {\n    node.error(\"Message ID non trovato nel Flow Context per chatId: \" + chatId);\n    return null;\n}\n\nif (!chatContext.settingSimulationContext || !chatContext.settingSimulationContext.newSetting || !Number.isInteger(chatContext.settingSimulationContext.newSetting.total_field) || !Number.isInteger(chatContext.settingSimulationContext.newSetting.courrent_field) || !Number.isInteger(chatContext.settingSimulationContext.newSetting.next_field)){\n    node.error(\"settingSimulationContext non trovato nel Flow Context per chatId: \" + chatId);\n    node.error(\"!chatContext.settingSimulationContext: \" + !chatContext.settingSimulationContext);\n    node.error(\"!chatContext.settingSimulationContext.newSetting: \" + !chatContext.settingSimulationContext.newSetting);\n    node.error(\"!Number.isInteger(chatContext.settingSimulationContext.newSetting.total_field): \" + !Number.isInteger(chatContext.settingSimulationContext.newSetting.total_field));\n    node.error(\"!Number.isInteger(chatContext.settingSimulationContext.newSetting.courrent_field): \" + !Number.isInteger(chatContext.settingSimulationContext.newSetting.courrent_field));\n    node.error(\"!Number.isInteger(chatContext.settingSimulationContext.newSetting.next_field): \" + !Number.isInteger(chatContext.settingSimulationContext.newSetting.next_field));\n    return null;\n}\n\nif (!chatContext.settingSimulationContext.newSetting.fields_configuration && chatContext.settingSimulationContext.newSetting.total_field > 1 && chatContext.settingSimulationContext.newSetting.courrent_field > 1) {\n    node.error(\"fields_configuration non trovato nel Flow Context per chatId: \" + chatId);\n    return null;\n}\n\nvar newSetting = chatContext.settingSimulationContext.newSetting;\n\n// S2 11 #F  \nvar messageCode = msg.payload.content.split(\" \");\n\n// Inizializza fields_configuration come un dizionario (oggetto) se non esiste\nvar fields_configuration = newSetting.fields_configuration || {};\n\n// Assicurati che la chiave corrente esista in fields_configuration\nif (!fields_configuration[newSetting.courrent_field]) {\n    fields_configuration[newSetting.courrent_field] = {\n        soilMoisture: false,\n        temperature: false,\n        soilPh: false,\n        waterSalinity: false,\n        relativeHumidity: false,\n        rainfall: false\n    };\n}\n\n// Verifica che il campo specificato nel messaggio corrisponda al campo corrente\nif (parseInt(messageCode[2]) !== newSetting.courrent_field) {\n    console.warn(\"Il campo non corrisponde al campo corrente\");\n}\n\n// Determina il sensore e il valore booleano dal codice sensore\nvar sensorType = messageCode[1][0]; // Primo carattere del secondo elemento\nvar sensorValue = messageCode[1][1] === \"1\"; // Converte \"1\" in true e \"0\" in false\n\n// Utilizza il primo carattere di messageCode[1] per aggiornare i valori\nswitch (sensorType) {\n    case \"1\":\n        fields_configuration[newSetting.courrent_field].soilMoisture = sensorValue;\n        break;\n    case \"2\":\n        fields_configuration[newSetting.courrent_field].temperature = sensorValue;\n        break;\n    case \"3\":\n        fields_configuration[newSetting.courrent_field].soilPh = sensorValue;\n        break;\n    case \"4\":\n        fields_configuration[newSetting.courrent_field].waterSalinity = sensorValue;\n        break;\n    case \"5\":\n        fields_configuration[newSetting.courrent_field].relativeHumidity = sensorValue;\n        break;\n    case \"6\":\n        fields_configuration[newSetting.courrent_field].rainfall = sensorValue;\n        break;\n}\n\nnewSetting.fields_configuration = fields_configuration;\n\nvar iconS1 = fields_configuration[newSetting.courrent_field].soilMoisture ? \"✅\" : \"🔲\";\nvar valS1 = fields_configuration[newSetting.courrent_field].soilMoisture ? \"0\": \"1\";\n\nvar iconS2 = fields_configuration[newSetting.courrent_field].temperature ? \"✅\" : \"🔲\";\nvar valS2 = fields_configuration[newSetting.courrent_field].temperature ? \"0\": \"1\";\n\nvar iconS3 = fields_configuration[newSetting.courrent_field].soilPh ? \"✅\" : \"🔲\";\nvar valS3 = fields_configuration[newSetting.courrent_field].soilPh ? \"0\": \"1\";\n\nvar iconS4 = fields_configuration[newSetting.courrent_field].waterSalinity ? \"✅\" : \"🔲\";\nvar valS4 = fields_configuration[newSetting.courrent_field].waterSalinity ? \"0\": \"1\";\n\nvar iconS5 = fields_configuration[newSetting.courrent_field].relativeHumidity ? \"✅\" : \"🔲\";\nvar valS5 = fields_configuration[newSetting.courrent_field].relativeHumidity ? \"0\": \"1\";\n\nvar iconS6 = fields_configuration[newSetting.courrent_field].rainfall ? \"✅\" : \"🔲\";\nvar valS6 = fields_configuration[newSetting.courrent_field].rainfall ? \"0\": \"1\";\n\n// Base dell'inline_keyboard\nvar inline_keyboard = [\n    [\n        {\n            \"text\": \"📡 ALL SENSORS @ FIELD \" + newSetting.courrent_field + \" 📡\",\n            \"callback_data\": \"S2 ALL \" + newSetting.courrent_field\n        }\n    ],\n    [\n        {\n            \"text\": iconS1 + \" Soil Moisture\",\n            \"callback_data\": \"S2 1\" + valS1 + \" \" + newSetting.courrent_field\n        },\n        {\n            \"text\": iconS2 + \" Temperature\",\n            \"callback_data\": \"S2 2\" + valS2 + \" \" + newSetting.courrent_field\n        }\n    ],\n    [\n        {\n            \"text\": iconS3 + \" Soil Ph\",\n            \"callback_data\": \"S2 3\" + valS3 + \" \" + newSetting.courrent_field\n        },\n        {\n            \"text\": iconS4 + \" Water Salinity\",\n            \"callback_data\": \"S2 4\" + valS4 + \" \" + newSetting.courrent_field\n        }\n    ],\n    [\n        {\n            \"text\": iconS5 + \" Relative Humidity\",\n            \"callback_data\": \"S2 5\" + valS5 + \" \" + newSetting.courrent_field\n        },\n        {\n            \"text\": iconS6 + \" Rainfall\",\n            \"callback_data\": \"S2 6\" + valS6 + \" \" + newSetting.courrent_field\n        }\n    ],\n    [\n        {\n            \"text\": \"❌   ABORT   ❌\",\n            \"callback_data\": \"SCancel\"\n        }\n    ]\n];\n\n\n// Aggiungi un altro pulsante accanto ad ABORT per il prossimo campo\nif (chatContext.settingSimulationContext.newSetting.total_field == chatContext.settingSimulationContext.newSetting.courrent_field) { // Sostituisci `someCondition` con la tua condizione\n    node.warn(\"ESEGUO BOTTONE CONFIRMATION\");\n    inline_keyboard[inline_keyboard.length - 1].push({\n        \"text\": \"✔️ CONFIRMATION ✔️\",\n        \"callback_data\": \"S2 OK \" + newSetting.courrent_field\n    });\n} else {\n    inline_keyboard[inline_keyboard.length - 1].push({\n                \"text\": \"🏞️ 🚜 NEXT FIELD 🚜 🏞️\",\n                \"callback_data\": \"S2 OK \" + newSetting.courrent_field\n            });\n}\n\n// Converti in JSON\nvar reply_markup = JSON.stringify({ \"inline_keyboard\": inline_keyboard });\n\nvar options = {\n        chat_id: msg.payload.chatId,\n        reply_markup: reply_markup,\n        message_id: chatContext.messageId\n    };\n\nvar newText = \"OK, we have \" + newSetting.total_field + \" farmlands! Great! \\r\\nNow we have to decide which sensors will be on the fields. \\r\\nSelect the sensors that are present on field number \" + newSetting.courrent_field  + \" :\";\n\nmsg.payload.type = 'editMessageText';\nmsg.payload.content = newText;\nmsg.payload.options = options;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 1180,
        "wires": [
            [
                "12b9814935b54f98"
            ]
        ]
    },
    {
        "id": "6568989d07b445fe",
        "type": "function",
        "z": "61216a9c9c65a5d3",
        "name": "Salva e prensenta interval",
        "func": "var chatId = msg.payload.chatId;\nvar chatContextKey = \"chat_\" + chatId;\n\nvar chatContext = flow.get(chatContextKey);\n\nif (!chatContext || !chatContext.messageId) {\n    node.error(\"Message ID non trovato nel Flow Context per chatId: \" + chatId);\n    return null;\n}\n\nif (!chatContext.settingSimulationContext || !chatContext.settingSimulationContext.newSetting || !Number.isInteger(chatContext.settingSimulationContext.newSetting.total_field) || !Number.isInteger(chatContext.settingSimulationContext.newSetting.courrent_field) || !Number.isInteger(chatContext.settingSimulationContext.newSetting.next_field)){\n    node.error(\"settingSimulationContext non trovato nel Flow Context per chatId: \" + chatId);\n    node.error(\"!chatContext.settingSimulationContext: \" + !chatContext.settingSimulationContext);\n    node.error(\"!chatContext.settingSimulationContext.newSetting: \" + !chatContext.settingSimulationContext.newSetting);\n    node.error(\"!Number.isInteger(chatContext.settingSimulationContext.newSetting.total_field): \" + !Number.isInteger(chatContext.settingSimulationContext.newSetting.total_field));\n    node.error(\"!Number.isInteger(chatContext.settingSimulationContext.newSetting.courrent_field): \" + !Number.isInteger(chatContext.settingSimulationContext.newSetting.courrent_field));\n    node.error(\"!Number.isInteger(chatContext.settingSimulationContext.newSetting.next_field): \" + !Number.isInteger(chatContext.settingSimulationContext.newSetting.next_field));\n    return null;\n}\n\nif (!chatContext.settingSimulationContext.newSetting.fields_configuration && chatContext.settingSimulationContext.newSetting.total_field > 1 && chatContext.settingSimulationContext.newSetting.courrent_field > 1) {\n    node.error(\"fields_configuration non trovato nel Flow Context per chatId: \" + chatId);\n    return null;\n}\n\nvar newSetting = chatContext.settingSimulationContext.newSetting;\n\n// S3 HURRICANE  \nvar messageCode = msg.payload.content.split(\" \");\n\nnewSetting.initialWeather = messageCode[1];\n\nchatContext.settingSimulationContext.newSetting = newSetting;\n\n// Base dell'inline_keyboard\nvar inline_keyboard = [\n    [\n        {\n            \"text\": \"DEFAULT 5 sec\",\n            \"callback_data\": \"S4 5000\"\n        }\n    ],\n    [\n        {\n            \"text\": \"1 sec\",\n            \"callback_data\": \"S4 1000\"\n        },\n        {\n            \"text\": \"2 sec\",\n            \"callback_data\": \"S4 2000\"\n        }\n    ],\n    [\n        {\n            \"text\": \"10 sec\",\n            \"callback_data\": \"S4 10000\"\n        },\n        {\n            \"text\": \"15 sec\",\n            \"callback_data\": \"S4 15000\"\n        }\n    ],\n    [\n        {\n            \"text\": \"30 sec\",\n            \"callback_data\": \"S4 30000\"\n        },\n        {\n            \"text\": \"1 min\",\n            \"callback_data\": \"S4 60000\"\n        }\n    ],\n    [\n        {\n            \"text\": \"❌   ABORT   ❌\",\n            \"callback_data\": \"SCancel\"\n        }\n    ]\n];\n\n// Converti in JSON\nvar reply_markup = JSON.stringify({ \"inline_keyboard\": inline_keyboard });\n\nvar options = {\n        chat_id: msg.payload.chatId,\n        reply_markup: reply_markup,\n        message_id: chatContext.messageId\n    };\n\nvar newText = \"Excellent! \\r\\n\\r\\nNow all that remains is to determine how often the sensors will update. \\r\\n\\r\\nSelect the time interval from those present:\";\n\nmsg.payload.type = 'editMessageText';\nmsg.payload.content = newText;\nmsg.payload.options = options;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 1260,
        "wires": [
            [
                "12b9814935b54f98"
            ]
        ]
    },
    {
        "id": "8a6b19502510e21c",
        "type": "function",
        "z": "61216a9c9c65a5d3",
        "name": "Salva e fa il riepilogo della configurazione",
        "func": "var chatId = msg.payload.chatId;\nvar chatContextKey = \"chat_\" + chatId;\n\nvar chatContext = flow.get(chatContextKey);\n\nif (!chatContext || !chatContext.messageId) {\n    node.error(\"Message ID non trovato nel Flow Context per chatId: \" + chatId);\n    return null;\n}\n\nif (!chatContext.settingSimulationContext || !chatContext.settingSimulationContext.newSetting || !Number.isInteger(chatContext.settingSimulationContext.newSetting.total_field) || !Number.isInteger(chatContext.settingSimulationContext.newSetting.courrent_field) || !Number.isInteger(chatContext.settingSimulationContext.newSetting.next_field)){\n    node.error(\"settingSimulationContext non trovato nel Flow Context per chatId: \" + chatId);\n    node.error(\"!chatContext.settingSimulationContext: \" + !chatContext.settingSimulationContext);\n    node.error(\"!chatContext.settingSimulationContext.newSetting: \" + !chatContext.settingSimulationContext.newSetting);\n    node.error(\"!Number.isInteger(chatContext.settingSimulationContext.newSetting.total_field): \" + !Number.isInteger(chatContext.settingSimulationContext.newSetting.total_field));\n    node.error(\"!Number.isInteger(chatContext.settingSimulationContext.newSetting.courrent_field): \" + !Number.isInteger(chatContext.settingSimulationContext.newSetting.courrent_field));\n    node.error(\"!Number.isInteger(chatContext.settingSimulationContext.newSetting.next_field): \" + !Number.isInteger(chatContext.settingSimulationContext.newSetting.next_field));\n    return null;\n}\n\nif (!chatContext.settingSimulationContext.newSetting.fields_configuration && chatContext.settingSimulationContext.newSetting.total_field > 1 && chatContext.settingSimulationContext.newSetting.courrent_field > 1) {\n    node.error(\"fields_configuration non trovato nel Flow Context per chatId: \" + chatId);\n    return null;\n}\n\nvar newSetting = chatContext.settingSimulationContext.newSetting;\n\n// S4 5000  \nvar messageCode = msg.payload.content.split(\" \");\n\nnewSetting.interval = messageCode[1];\n\nchatContext.settingSimulationContext.newSetting = newSetting;\n\nvar input = newSetting;\n\nvar result = {\n    initialWeather: input.initialWeather,\n    fields: Object.entries(input.fields_configuration).map(([fieldId, sensors]) => ({\n        fieldId: parseInt(fieldId, 10), // Converti la chiave in numero\n        sensors: {\n            soilMoisture: sensors.soilMoisture,\n            temperature: sensors.temperature,\n            ph: sensors.soilPh, // Rinominato da soilPh a ph\n            salinity: sensors.waterSalinity, // Rinominato da waterSalinity a salinity\n            humidity: sensors.relativeHumidity, // Rinominato da relativeHumidity a humidity\n            rain: sensors.rainfall // Rinominato da rainfall a rain\n        }\n    })),\n    interval: parseInt(input.interval, 10)\n};\n\n\n//var newText = \"Excellent! \\r\\nThis is a summary of the configuration. ``` \\r\\n \" + JSON.stringify(result, null, 2) +  \"\\r\\n```  \\r\\nDo you want to confirm?\";\nvar newText = \"Excellent!\\r\\nThis is a summary of the configuration:<pre>\" + JSON.stringify(result, null, 2) + \"</pre>Do you want to confirm?\";\n\n// Base dell'inline_keyboard\nvar inline_keyboard = [\n    [\n        {\n            \"text\": \"Yes\",\n            \"callback_data\": \"S5\"\n        },\n        {\n            \"text\": \"NO\",\n            \"callback_data\": \"SCancel\"\n        }\n    ]\n];\n\n// Converti in JSON\nvar reply_markup = JSON.stringify({ \"inline_keyboard\": inline_keyboard });\n\nvar options = {\n    chat_id: msg.payload.chatId,\n    parse_mode: 'HTML',\n    reply_markup: reply_markup,\n    message_id: chatContext.messageId\n};\n\n\nmsg.payload.type = 'editMessageText';\nmsg.payload.content = newText;\nmsg.payload.options = options;\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 1320,
        "wires": [
            [
                "12b9814935b54f98"
            ]
        ]
    },
    {
        "id": "75d4ea7f803fca3f",
        "type": "function",
        "z": "61216a9c9c65a5d3",
        "name": "Conferma, Elimina il messaggio, invia il json MQTT",
        "func": "var chatId = msg.payload.chatId;\nvar chatContextKey = \"chat_\" + chatId;\n\nvar chatContext = flow.get(chatContextKey);\n\nif (!chatContext || !chatContext.messageId) {\n    node.error(\"Message ID non trovato nel Flow Context per chatId: \" + chatId);\n    return null;\n}\n\nif (!chatContext.settingSimulationContext || !chatContext.settingSimulationContext.newSetting || !Number.isInteger(chatContext.settingSimulationContext.newSetting.total_field) || !Number.isInteger(chatContext.settingSimulationContext.newSetting.courrent_field) || !Number.isInteger(chatContext.settingSimulationContext.newSetting.next_field)) {\n    node.error(\"settingSimulationContext non trovato nel Flow Context per chatId: \" + chatId);\n    node.error(\"!chatContext.settingSimulationContext: \" + !chatContext.settingSimulationContext);\n    node.error(\"!chatContext.settingSimulationContext.newSetting: \" + !chatContext.settingSimulationContext.newSetting);\n    node.error(\"!Number.isInteger(chatContext.settingSimulationContext.newSetting.total_field): \" + !Number.isInteger(chatContext.settingSimulationContext.newSetting.total_field));\n    node.error(\"!Number.isInteger(chatContext.settingSimulationContext.newSetting.courrent_field): \" + !Number.isInteger(chatContext.settingSimulationContext.newSetting.courrent_field));\n    node.error(\"!Number.isInteger(chatContext.settingSimulationContext.newSetting.next_field): \" + !Number.isInteger(chatContext.settingSimulationContext.newSetting.next_field));\n    return null;\n}\n\nif (!chatContext.settingSimulationContext.newSetting.fields_configuration && chatContext.settingSimulationContext.newSetting.total_field > 1 && chatContext.settingSimulationContext.newSetting.courrent_field > 1) {\n    node.error(\"fields_configuration non trovato nel Flow Context per chatId: \" + chatId);\n    return null;\n}\n\nvar replyText = \"Configuration Saved and Sent to Server!\";\n\nvar sendTextMessage = {\n    payload: {\n        chatId: chatId,\n        type: 'message',\n        content: replyText\n    }\n};\n\nvar deleteInlineMessage = {\n    // msg.payload.type = 'deleteMessage';\n    // msg.payload.content = idMessage\n    payload: {\n        chatId: chatId,\n        type: 'deleteMessage',\n        content: chatContext.messageId\n    }\n};\n\nvar newSetting = chatContext.settingSimulationContext.newSetting;\n\nvar input = newSetting;\n\nvar result = {\n    initialWeather: input.initialWeather,\n    fields: Object.entries(input.fields_configuration).map(([fieldId, sensors]) => ({\n        fieldId: parseInt(fieldId, 10), // Converti la chiave in numero\n        sensors: {\n            soilMoisture: sensors.soilMoisture,\n            temperature: sensors.temperature,\n            ph: sensors.soilPh, // Rinominato da soilPh a ph\n            salinity: sensors.waterSalinity, // Rinominato da waterSalinity a salinity\n            humidity: sensors.relativeHumidity, // Rinominato da relativeHumidity a humidity\n            rain: sensors.rainfall // Rinominato da rainfall a rain\n        }\n    })),\n    interval: parseInt(input.interval, 10)\n};\n\nvar congifMessage = {\n    payload: result,\n    topic: 'sensors/simulation/config'\n}\n\nreturn [sendTextMessage, deleteInlineMessage, congifMessage];",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 1380,
        "wires": [
            [
                "12b9814935b54f98"
            ],
            [
                "12b9814935b54f98"
            ],
            [
                "dd0ee88fbd4cf692"
            ]
        ]
    },
    {
        "id": "dd0ee88fbd4cf692",
        "type": "mqtt out",
        "z": "61216a9c9c65a5d3",
        "name": "",
        "topic": "sensors/simulation/config",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "24f8f90e89fb0dcc",
        "x": 1250,
        "y": 1400,
        "wires": []
    },
    {
        "id": "3c4bfbbf8b3dcecb",
        "type": "telegram command",
        "z": "61216a9c9c65a5d3",
        "name": "",
        "command": "/currentconfiguration",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "227d6c6a69368223",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 310,
        "y": 1500,
        "wires": [
            [
                "770d433fafa65357"
            ],
            []
        ]
    },
    {
        "id": "567ef0b2ff398543",
        "type": "mqtt out",
        "z": "61216a9c9c65a5d3",
        "name": "",
        "topic": "sensors/simulation/config/get",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "24f8f90e89fb0dcc",
        "x": 860,
        "y": 1500,
        "wires": []
    },
    {
        "id": "770d433fafa65357",
        "type": "function",
        "z": "61216a9c9c65a5d3",
        "name": "Salva il idMessaggio",
        "func": "var chatId = msg.payload.chatId;\nvar chatContextKey = \"chat_\" + chatId;\n\nif (!chatId || typeof chatId !== \"number\") {\n    node.error(\"chatId non valido: \" + chatId);\n    return null;\n}\nvar chatContextKey = \"chat_\" + chatId;\nvar chatContext = flow.get(chatContextKey) || {};\n\nchatContext.messageIdCurrentConfig = msg.payload.messageId;\n\nflow.set(chatContextKey, chatContext);\n\nnode.warn(\"Salvato nel Flow: chatContextKey=\" + chatContextKey + \", contenuto=\" + JSON.stringify(chatContext));\nmsg.payload = \"GET CURRENT CONFIGURATION\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 1500,
        "wires": [
            [
                "567ef0b2ff398543"
            ]
        ]
    },
    {
        "id": "b3b745631d58c8b3",
        "type": "function",
        "z": "61216a9c9c65a5d3",
        "name": "rispondi con current Configuration",
        "func": "// Ottieni tutte le chiavi dal contesto flow\nvar allKeys = flow.keys();\n\n// Filtra solo le chiavi che iniziano con \"chat_\"\nvar chatKeys = allKeys.filter(key => key.startsWith(\"chat_\"));\n\n// Prepara un array per i messaggi da inviare\nvar messages = [];\n\n// Scorri tutte le chiavi delle chat e verifica se hanno messageIdCurrentConfig\nchatKeys.forEach(chatKey => {\n    var chatContext = flow.get(chatKey);\n    \n    // Verifica se la proprietà \"messageIdCurrentConfig\" esiste\n    if (chatContext && chatContext.messageIdCurrentConfig) {\n        // Prepara il messaggio per questa chat\n        var chatId = chatKey.replace(\"chat_\", \"\"); // Estrai l'ID della chat\n        messages.push({\n            chatId: parseInt(chatId, 10),\n            content: \"This is the current configuration of the simulation: <pre>\" + JSON.stringify(msg.payload, null, 2) + \"</pre>\",\n            type:\"message\",\n            options: {\n                parse_mode: \"HTML\",\n                reply_parameters: {\n                message_id: chatContext.messageIdCurrentConfig\n                }\n            },\n            \n        });\n    }\n});\n\n// Se ci sono messaggi da inviare, impostali come array in msg.payload\nif (messages.length > 0) {\n    var resp = {}\n    resp.payload = messages;\n    return resp; // Ritorna il messaggio per il successivo nodo\n} else {\n    node.warn(\"Nessuna chat con messageIdCurrentConfig trovata!\");\n    return null; // Nessun messaggio da inviare\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 1560,
        "wires": [
            [
                "d701e4f17b15036c"
            ]
        ]
    },
    {
        "id": "870e1370de436777",
        "type": "mqtt in",
        "z": "61216a9c9c65a5d3",
        "name": "",
        "topic": "sensors/simulation/config/current",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "24f8f90e89fb0dcc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 350,
        "y": 1560,
        "wires": [
            [
                "b3b745631d58c8b3"
            ]
        ]
    },
    {
        "id": "d701e4f17b15036c",
        "type": "split",
        "z": "61216a9c9c65a5d3",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 850,
        "y": 1560,
        "wires": [
            [
                "96f922d69769b33b"
            ]
        ]
    },
    {
        "id": "96f922d69769b33b",
        "type": "change",
        "z": "61216a9c9c65a5d3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "delete",
                "p": "parts",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 1560,
        "wires": [
            [
                "df89c0c6fe3dd603"
            ]
        ]
    },
    {
        "id": "df89c0c6fe3dd603",
        "type": "telegram sender",
        "z": "61216a9c9c65a5d3",
        "name": "",
        "bot": "227d6c6a69368223",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1190,
        "y": 1560,
        "wires": [
            []
        ]
    }
]